{# Petite Card  pour Compte index #}
{# {% include '@Crypto/calcul/operation/elements/wallet.html.twig' %} #}
{# {% trans_default_domain("crypto") %} #}


<div class="card h-100">
    <div class="card-body">
        <h4 class="card-title col-12 text-center">Wallet</h4>
        <div class="row">
            <div class="col-12">
                <div class="card-text">Wallet</div>
                <div class="card-text">EARN</div>
                <div class="card-text">Supercharge</div>
                <div class="card-text">Fiat</div>
                <div class="card-text">Card</div>
            </div>
        </div>
    </div>
</div>
