{# Petite Card  pour Compte index #}
{# {% include '@Crypto/calcul/operation/elements/bilan.html.twig' %} #}
{# {% trans_default_domain("crypto") %} #}

<div class="card h-100">
    <div class="card-body">
        <h4 class="card-title col-12 text-center">Earn</h4>
        <div class="row">
            <div class="col-12">
                <div class="card-text">Earn solde</div>
                <div class="card-text">Bloquer</div>
                <div class="card-text">Liste des earns</div>
            </div>
        </div>
    </div>
</div>
 