{# Petite Card  pour Compte index #}
{# {% include '@Crypto/comptes/compte/elements/littleCardCompte.html.twig' %} #}
{% trans_default_domain("crypto") %}

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="jumbotron">
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                    to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger
                    container.</p>
                <p class="lead">
                    <a class="btn btn-primary" href="#!" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="..." alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
            This is some content from a media component. You can replace this with any content and adjust it as needed.
        </div>
    </div>
</div>