{# Petite Card  pour Compte index #}
{# {% include '@Crypto/comptes/compte/elements/notCompte.html.twig' %} #}
{% trans_default_domain("crypto") %}

<div class="row mt-4 mb-4">
    <div class="col-12">
        <div class="card col-10 offset-1">
            <div class="card-body alert-warning">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-4 text-center">Pas de comptes enregistrer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>