{# affichage de chart des cryptos #}
{% extends '@Crypto/default/default.html.twig' %}

{% block main %}
    {# <h1 class="text-light text-center mt-4 mb-4">Cryptomonnaie - Day Taux</h1> #}
    <div class="row">
        <div class="card-deck">
            <div class="row">
                <div class="mt-4">
                    <script src="https://widgets.coingecko.com/coingecko-coin-heatmap-widget.js"></script>
                    <coingecko-coin-heatmap-widget  height="700" locale="fr"></coingecko-coin-heatmap-widget>
                </div>
            </div>
        </div>
    </div>
{% endblock %}