{# affichage Concensus #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Concensus{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Concensus</h1>
{% endblock %}
