{# affichage Plateforme de Compte #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Platefromes{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Platefromes</h1>
{% endblock %}
