{# affichage des historiques des prix #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Historique des prix{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Historique des prix</h1>
{% endblock %}
