{# affichage des types de comptes #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Type de Ccmpte{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Type de comptes</h1>
{% endblock %}
