{# affichage des contacts #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Contacts{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Contacts</h1>
{% endblock %}
