{# affichage API #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - API{% endblock %}

{% block main %}
    <h1 class="text-center text-light">API</h1>
{% endblock %}
