{# affichage Logo des cryptomonnaies #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Logo Cryptomonnaies{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Logo Cryptomonnaies</h1>
{% endblock %}
