{# Page avec affichage en travaux ou en construction #}
{% extends '@Crypto/default/default.html.twig' %}

{% block main %}
    <h1 class="text-center text-light mt-4">En cours d'élaboration...</h1>
{% endblock %}