{# Dashboard  #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Dashboard{% endblock %}

{% block main %}
    <div class="row mt-4">
        <div class="col-6">
            <div class="card mb-3 text-center bg-dark text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3 text-center bg-warning text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3 text-center bg-info text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <div class="col-12 card mb-3 text-center bg-info text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
            <div class="col-12 card mb-3 text-center bg-info text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="col-12 card mb-3 text-center bg-secondary text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <div class="card mb-3 text-center bg-danger text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3 text-center bg-primary text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3 text-center bg-warning text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3 text-center bg-info text-white">
                <div class="card-body">
                    <h4>Toto</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
