{% extends "base.html.twig" %}

    {% block title %}Default homepage{% endblock %}
    {% block body %}
        <h1>Welcome to Default homepage</h1>
    {% endblock %}

    {% block stylesheets %}
    
    {% endblock %}

    {% block javascripts %}
    
    {% endblock %}
    