{% extends 'base.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Homepage Cryptomonnaie{% endblock %}

{% block body %}

    {% if is_granted("ROLE_USER")  %}
        {{ renderNavBar('main') }} 
    {% endif %}

    <div class="wrapper">
        <div class="container-fluid" style="background-image:url('{{ asset('bundles/crypto/images/fond/texture2.jpg') }}'); height: 830px;">
            <div class="col-12">
                <div class="row">
                        <div class="col-1 p-0 m-0 " >
                            {% block sidebar %}
                                {% include "@Crypto/sidebar/sidebar.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-11">
                            <div class="col-12">
                            <div class="row">
                                <div class="p-0 sticky-top shadows" style="top:56px;">
                                    <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
                                    <coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,decentraland,polkadot,solana,ripple,litecoin,apecoin" currency="eur" background-color="#ffffff" locale="fr"></coingecko-coin-price-marquee-widget>
                                </div>
                                    {% block main %}{% endblock main %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer bg-dark">
                <footer class="col-sm-12" style="text-align: center;">
                    <p class="text-light mt-1">Cryptomonnaies - Philippe Basuyau &copy; Imperium Clan Software</p>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}