{# templates/admin/dashboard.html.twig #}

    {% extends "@EasyAdmin/page/content.html.twig" %}

    {% block page_content %}

        {% include "@Ssi/admin/logs.html.twig" %}

    {% endblock %}

    <div class= "container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">ETH</div>
                        </div> 
                        <div class="col">
                            <div class="card">BTC</div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<script>
    $(document).ready(function(){

    });
</script>
