{# {% include "templates\admin\decoupe\nombreCompte.html.twig" %} #}
<div class="row">
    <div class="col-6 alert-info ">
        <span class="display-3"> 35 </span>
        <span class="display-6">Utilisateurs</span>
    </div>
    <div class="col-6 alert-success">
        <span class="display-3"> 23 </span>
        <span class="display-6">comptes</span>
    </div>
</div>