{# {% include "admin\adminHome.html.twig" %} #}
{% trans_default_domain('cryptotmanager') %}

<div class= "container-fluid">
    <div class="row d-inline-flex col-12">
        <div class="col ">
            <div class="card  h-100 alert-info">
                    <div class="row mt-4 mb-4 d-inline-flex col-12">
                        <div class="col-6 " >
                            <div class="card text-center h-100 alert-secondary">
                                <span style="font-size: 17px;">xXXXx </span>
                                <span style="font-size: 19px;">o000o</span>
                                <span class="mb-1" style="font-size: 17px;">
                                    <i>cCCCc</i>
                                </span>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="card text-center h-100 alert-secondary">
                                <span style="font-size: 17px;">xXXXx </span>
                                <span style="font-size: 19px;">o000o</span>
                                <span class="mb-1" style="font-size: 17px;">
                                    <i>cCCCc</i>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 alert-danger">
                    <div class="row mt-4 mb-4 d-inline-flex col-12">
                        <div class="col-6 ">
                            <div class="card text-center h-100 alert-secondary">
                                <span style="font-size: 17px;">xXXXx </span>
                                <span style="font-size: 19px;">o000o</span>
                                <span class="mb-1" style="font-size: 17px;">
                                    <i>cCCCc</i>
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card text-center h-100 alert-secondary">
                                <span style="font-size: 17px;">xXXXx </span>
                                <span style="font-size: 19px;">o000o</span>
                                <span class="mb-1" style="font-size: 17px;">
                                    <i>cCCCc</i>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col ">
            <div class="card  h-100 alert-success">
                    <div class="row mt-4 mb-4 d-inline-flex col-12">
                        <div class="col-6 ">
                            <div class="card text-center h-100 alert-secondary">
                                <span style="font-size: 17px;">xXXXx </span>
                                <span style="font-size: 19px;">o000o</span>
                                <span class="mb-1" style="font-size: 17px;">
                                    <i>cCCCc</i>
                                </span>
                            </div>
                        </div>
                        <div class="col-6 " >
                            <div class="card text-center h-100 alert-secondary">
                                <span style="font-size: 17px;">xXXXx </span>
                                <span style="font-size: 19px;">o000o</span>
                                <span class="mb-1" style="font-size: 17px;">
                                    <i>cCCCc</i>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

<div class= "container-fluid"> #}
    <div class="row  mt-4 d-inline-flex col-12">
        <div class="col">
            <div class="card h-100 alert-info">
                <div class="row">
                    <div class="col-10 mt-4 mb-4 offset-1">
                        <div class="card  alert-secondary text-center">
                            <span style="font-size: 23px;">
                                xXXXx
                            </span>
                            <span style="font-size: 17px;">
                                <i> CcccC</i>
                            </span>
                            </span>
                            <span class="text-muted mb-2" style="font-size:15px;">
                                <i>
                                    xXXXx
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mb-4 offset-1">
                        <div class="card alert-secondary text-center">
                            <span style="font-size: 23px;">
                                xXXXx
                            </span>
                            <span style="font-size: 17px;">
                                <i> CcccC</i>
                            </span>
                            </span>
                            <span class="text-muted mb-2" style="font-size:15px;">
                                <i>
                                    xXXXx
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    });
</script>
