{# affichage Gains #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Gains{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Gains</h1>
{% endblock %}
