{# affichage Type de Compte #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Type de plateforme{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Type de plateforme</h1>
{% endblock %}
