{# affichage des différentes Utilités des cryptos #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Utilités des cryptos{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Utilités des cryptos</h1>
{% endblock %}
