{# affichage Achat #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Achats{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Achats</h1>
{% endblock %}
