{# affichage Compte #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Comptes{% endblock %}

{% block main %}


<div class="row mt-4">
    <div class="col-12">
        <div class="card col-10 offset-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="d-flex bd-highlight mb-3">
                                <div class="p-2 bd-highlight">
                                    <a class="btn btn-secondary shadow" href="{{path('ics_crypto_dashboard')}}"><i class="fas fa-undo"></i> Dashbord</a>
                                </div>
                                <div class="ms-auto p-2 bd-highlight">
                                    <a class="btn btn-primary shadow" href="{{path('ics_crypto_comptes_compte_add')}}"><i class="fas fa-plus-circle"></i> Ajouter un compte</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-4 text-center">Comptes</h1>
                {% if comptes %}
                    <div class="row">
                        {# <div class="card"> #}
                            <div class="card-body">
                                {# <div class="jumbotron"> #}
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                    <div class="card-deck">
                                                        <div class="col-12 mb-3">
                                                            {% for cpt in comptes|batch(2, null) %}
                                                                <div class="row">
                                                                    {% for compte in cpt %}
                                                                        <div class="col-6">
                                                                            {% include '@Crypto/comptes/compte/elements/littleCardCompte.html.twig' %}
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                {# </div> #}
                            </div>
                        {# </div> #}
                    </div>
                {% else %}
                    {% include '@Crypto/comptes/compte/elements/notCompte.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
