{# affichage Compte #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Comptes{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Comptes</h1>
{% endblock %}
