{# affichage norme #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Norme{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Norme</h1>
{% endblock %}
