{# affichage Cryptomonnaies #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Cryptomonnaies{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Cryptomonnaies</h1>
{% endblock %}
