{# affichage Opération #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Opération{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Opération</h1>
{% endblock %}
